@import 'variables';

.nav {
  display: flex;
  align-items: center;

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  &-parent {
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid #efefef;
  }

  &-child {
    .nav-link {
      text-decoration: none;
      color: $blue-color;
      font-size: 2rem;
      padding: 0 2rem;
    }

    #profile {
      border-left: 3px solid black;
    }
  }
}

.logo-container {
  display: flex;

  .planet {
    width: 50px;
    height: auto;
  }
}
