@import 'variables';

.rockets_container {
  width: 40%;

  ul {
    border: 1px solid $gray-color;
    border-radius: 10px;
    width: 100%;
    margin: 20px 0;

    li {
      font-size: 2.5rem;
      font-weight: 400;
      padding: 20px 10px 40px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    }

    :last-child {
      border-bottom: none;
    }

  }
}
